<div>
    <processing show="isProcessing"></processing>
    <div class="modal-header">
        <h3 id="myModalLabel">Create a New Report</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-error" style="display:none">
            There was an error.
        </div>
        <form class="form-horizontal" ng-submit="addReport(newReportTitle, newReportUrl)">
            <input id="report-title" type="text" ng-model="newReportTitle"
                   placeholder="Identifiable Report Name" required
                   class="input-xxlarge" />
            <input id="report-url" type="text" ng-model="newReportUrl"
                   placeholder="http://test.com/" required
                   class="input-xxlarge" />
            <input id="report-width" type="number" ng-model="newReportWidth"
                   placeholder="600"
                   class="input-mini" />x
            <input id="report-height" type="number" ng-model="newReportHeight"
                   placeholder="600"
                   class="input-mini" />
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="addReport(newReportTitle, newReportUrl, newReportWidth, newReportHeight);">Add Report</button>
    </div>
</div>