<div class="container-fluid">
    <processing show="isProcessing"></processing>
    <div class="row">
        <div class="col-md-8">
            <h1 style="display:inline-block"><a href="{{page.url}}">{{page.name}}</a> <small>snapshots:</small></h1>
        </div>
        <div class="col-sm-4 text-right">
            <a class="btn btn-default btn-primary btn-lg" ng-click="snapshotPageNow(page)"><i class="icon-camera"></i> Capture Snapshot</a>
            <a class="btn btn-default btn-lg" ng-click="showEdit(page)">Edit Page Details</a>
        </div>
    </div>

    <div ng-repeat="snapshot in page.snapshots">
        <br>
        <div class="row">
            <div class="col-md-3">
                <a href="#/snapshots/{{snapshot.id}}">
                    <img class="media-object img-thumbnail" ng-src="{{snapshot | snapshotThumb}}">
                </a>
            </div>
            <div class="col-md-9">
                <h3 class="media-heading">{{snapshot.createdAt | dateFormatter}}</h3>
                <ol>
                    <li ng-repeat="diff in snapshot.snapshotDiffA" class="diff {{getSnapshotDiffClass(diff, snapshot, diff.snapshotB)}}">
                        <span class="resultA">{{snapshot.createdAt | dateFormatter}}</span>
                        <i class="icon-arrow-right"></i>
                        <span class="resultB">{{diff.snapshotB.createdAt | dateFormatter}}</span>
                        <span class="distortion">{{diff.distortion}}</span>
                        <span class="viewDiff"><a href="#/snapshotDiffs/{{diff.id}}" class="clickable"><i class="icon-eye-open" title="View Diff"></i></a></span>
                    </li>
                    <li ng-repeat="diff in snapshot.snapshotDiffB" class="diff {{getSnapshotDiffClass(diff, diff.snapshotA, snapshot)}}">
                        <span class="resultA">{{diff.snapshotA.createdAt | dateFormatter}}</span>
                        <i class="icon-arrow-right"></i>
                        <span class="resultB">{{snapshot.createdAt | dateFormatter}}</span>
                        <span class="distortion">{{diff.distortion}}</span>
                        <span class="viewDiff"><a href="#/snapshotDiffs/{{diff.id}}" class="clickable"><i class="icon-eye-open" title="View Diff"></i></a></span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
