    <div class="modal-header">
        <h3 id="myEditSuiteModalLabel">Add Page to Suite: {{suite.name}}</h3>
    </div>
    <div class="modal-body addPageToSuite">
        <div class="alert alert-error" style="display:none">
            There was an error.
        </div>
        <style>
            .addpagetosuite form{
                width:520px;
            }
            .addPageToSuite select{
                vertical-align: top;
                width:200px;
                display:inline-block;
            }
            .addPageToSuite ul{
                width:300px;
                display:inline-block;
            }
        </style>
        <form role="form" class="form-horizontal">
            <select multiple="multiple" ng-model="selectedPage" ng-change="updateSnapshots(selectedPage)" class="form-control">
                <option ng-repeat="page in pages" value="{{page.id}}">{{page.name}}</option>
            </select>
            <ul style="list-style-type: none">
                <p>Select a snapshot:</p>
                <li ng-repeat="snapshot in currentSnapshots" ng-click="selectSnapshot(snapshot)"
                    ng-style="snapshot == selectedSnapshot && {'border': '2px solid gray', 'border-radius': '15px', 'padding' : '5px'}">
                    <span>{{snapshot.updatedAt | dateFormatter}}</span><br/>
                    <img class="img img-thumbnail" width="120" ng-src="{{getThumbnail(snapshot)}}">
                </li>
            </ul>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="cancel()">Close</button>
        <button class="btn btn-primary" ng-click="ok()">Add Page Snapshot</button>
    </div>