    <div class="modal-header">
        <h3 id="myEditSuiteModalLabel">{{suite.id ? "Edit" : "Add New"}} Suite</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-error" style="display:none">
            There was an error.
        </div>
        <form role="form" class="form-horizontal" ng-submit="addSuite(newSuiteName, newSuiteReportIds)">
            <div class="form-group">
                <label for="report title" class="col-sm-3 control-label">Suite Name:</label>
                <div class="col-sm-9">
                    <input id="report-title" type="text"
                           ng-model="suite.name"
                           placeholder="Identifiable Suite Name" required
                           class="form-control" />
                </div>
            </div>
            <!--
            <select multiple="multiple" ng-model="newSuiteReportIds" class="input-xxlarge">
                <option ng-repeat="report in availableReports" value="{{report.id}}">{{report.name}}</option>
            </select>
            <input id="suite-schedule-enabled" type="checkbox"
                   ng-model="suiteScheduleEnabled"/>
            <label for="suite-schedule-enabled">Run at Scheduled Times:</label><br/>
            <fieldset ng-disabled="!suiteScheduleEnabled">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!suiteScheduleEnabled}"
                            ng-model="days.sun" btn-checkbox>Sun</button>
                    <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!suiteScheduleEnabled}"
                            ng-model="days.mon" btn-checkbox>Mon</button>
                    <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!suiteScheduleEnabled}"
                            ng-model="days.tues" btn-checkbox>Tues</button>
                    <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!suiteScheduleEnabled}"
                            ng-model="days.wed" btn-checkbox>Wed</button>
                    <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!suiteScheduleEnabled}"
                            ng-model="days.thurs" btn-checkbox>Thurs</button>
                    <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!suiteScheduleEnabled}"
                            ng-model="days.fri" btn-checkbox>Fri</button>
                    <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!suiteScheduleEnabled}"
                            ng-model="days.sat" btn-checkbox>Sat</button>
                </div>
                @
                <input type="time" class="input-medium" style="margin-top: 8px; width:100px" ng-model="suiteScheduleTime">
            </fieldset>
            -->
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="cancel()">Close</button>
        <button class="btn btn-primary" ng-click="ok()">{{suite.id ? "Save" : "Add New"}} Suite</button>
    </div>