<div class="container-fluid">
    <processing show="isProcessing"></processing>
    <div class="row">
        <div class="col-md-9">
            <h2 style="display:inline-block">{{suite.name}}</h2>&nbsp;&nbsp;&nbsp;
            <a class="clickable headerIcon" ng-click="edit()"><i class="icon-edit icon-2x" title="Edit Suite"></i></a>
            <a class="clickable headerIcon" ng-click="runSuite()"><i class="icon-play-sign icon-2x" title="Run Suite Now"></i></a>
            <alert type="danger" ng-hide="pagesExist">You haven't added any pages yet! Go back to the <a ng-href="#/pages">Pages</a> tab to add a page.</alert>
        </div>
        <div class="col-md-3 text-right">
            <a ng-click="showAddPages()" class="btn btn-primary"><i class="icon-plus-sign"></i> Add Page</a>
            <a ng-click="showEditWatchersModal()" class="btn btn-primary"><i class="icon-edit"></i> Edit Watchers</a>
        </div>   
    </div>

    <div class="row row-fluid">
        <div class="col-md-5">
            <h3 style="display:inline">Snapshots</h3>
            <div class="media" ng-repeat="masterSnapshot in suite.masterSnapshots">
                <a class="col-md-4 text-left" ng-href="#/masterSnapshots/{{masterSnapshot.id}}">
                    <img class="media-object img img-thumbnail" ng-src="{{ masterSnapshot.snapshot | snapshotThumb }}">
                </a>
                <div class="col-md-8">
                    <h4 class="media-heading"><a ng-href="#/masterSnapshots/{{masterSnapshot.id}}">{{masterSnapshot.snapshot.page.name}}</a>
                        <a  ng-click="removeSnapshot(masterSnapshot)" class="clickable"><i class="icon-minus-sign" title="Remove page from this batch"></i></a></h4>
                    <span>Taken: {{ masterSnapshot.snapshot.updatedAt | dateFormatter}} </span><br/>
                    <span style="font-size: 10px">{{masterSnapshot.snapshot.page.url}}</span><br/>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h3>Suite Runs</h3>
            <div class="media" ng-repeat="suiteRun in suite.suiteRuns">
                <div class="media-body">
                    <h4 class="media-heading"><a href="#/suites/{{suite.id}}/suiteRuns/{{suiteRun.id}}" class="clickable">{{suiteRun.updatedAt | dateFormatter}}</a></h4>
                    <ol>
                        <li ng-repeat="snapshotDiff in suiteRun.snapshotDiffs" class="snapshotDiff">
                            <span class="">{{snapshotDiff.snapshotB.page.name}}</span>
                            (<span class="{{getReportResultClass(reportResult)}}">{{snapshotDiff.distortion}}</span>)
                            <span class="viewDiff"><a href="#/snapshotDiffs/{{snapshotDiff.id}}" class="clickable"><i class="icon-eye-open" title="View Diff"></i></a></span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <h3>Watchers</h3>
            <div ng-repeat="watcher in suite.watchers">
                <img class="media-object gravatar80" ng-src="{{ getAvatarUrl(watcher)}}" title="{{watcher}}" alt="{{watcher}}"
                        onerror="this.onerror = null;$(this).replaceWith('{{watcher}}')">
            </div>
        </div>
    </div>
    <div id="addReport" class="modal hide fade" tabindex="-1" modal="showAddReport" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" ng-click="showAddReport = false" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Add Report to Suite</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-error" style="display:none">
                There was an error.
            </div>
            <form class="form-horizontal" ng-submit="addReports(selectedReportsToAdd)">
                <select multiple="multiple" ng-model="selectedReportsToAdd" class="input-xxlarge">
                    <option ng-repeat="report in availableReports" value="{{report.id}}">{{report.name}}</option>
                </select>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="showAddReport = false" aria-hidden="true">Close</button>
            <button class="btn btn-primary" ng-click="addReports(selectedReportsToAdd)">Add Report</button>
        </div>
    </div>
    <div id="editWatchers" class="modal hide fade" tabindex="-1" modal="showEditWatchers" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" ng-click="showEditWatchers = false" aria-hidden="true">×</button>
            <h3 id="editWatchersModalLabel">Edit Watchers List</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" ng-submit="addReports(selectedReportsToAdd)">
                <label for="watcherList">Enter Emails below, one per line</label>
                <textarea id="watcherList" ng-model="watchers">

                </textarea>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="showEditWatchers = false;" aria-hidden="true">Close</button>
            <button class="btn btn-primary" ng-click="saveWatchers(watchers)">Save Watchers</button>
        </div>
    </div>
</div>
